* {
    box-sizing: border-box;
}

body {
    color: #a9a9a9;
    background-color: #efefef;
}

.title {
    text-align: center;
}

.articles {
    margin: 30px;
    border-bottom: 3px solid #a9a9a9;
    border-left: 3px solid #a9a9a9;
}

.row {
    display: flex;
    width: 100%;
    border-top: 3px solid #a9a9a9;
    align-items: stretch;
}

.article {
    border-right: 2px solid #a9a9a9;
    width: calc(100% * (1 / 3));
    padding: 0px 10px;
}

.article-img {
    width: 100%;
}

.categories {
    padding: 0px;
    width: calc(100% * (2 / 3));
}

.odd {
    background-color: #ff3b3f;
}

a.odds {
    color: #efefef;
    margin: 10px;
}

a.evens {
    margin: 10px;
    color: #565656;
}
